section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mainBox{
  width:13em;
  height:10em;
}
.redBox{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: red;
  color:white;
  font-size: 1.5rem;
  
}
.topBox{
  
  font-size: 4rem;
  border-top-right-radius: .75rem;
  border-top-left-radius: .75rem;
}
.midBox{
  background-color: white;
  font-family: cursive;
  font-size: 3rem;
}
.bottomBox{
  color:red;
  height: 1rem;
}
.bottomRed{
  color:red;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem;
}